# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

.htaccess
.DS_Store
sftp-config.json
google4e31b682b6b4ff3a.html