
    body {
        font-family: 'Karla', serif;
        font-weight: 400;
        color: #222;
        line-height: 1.7;
        font-size: 16px;
        width: 100%;
        /*padding: 10px;*/
    }

    a {
        color: #ef7d1b;
        text-decoration: none;
        border-bottom: 1px solid #ef7d1b;
        transition: all 350ms cubic-bezier(0, 0.1, 0.3, 1);
    }

    a:hover {
        background-color: #ef7d1b;
        color: #fff;
    }

    ::-moz-selection {
        background: #ef7d1b;
        color: #fff;
        text-shadow: none;
    }

    ::selection {
        background: #ef7d1b;
        color: #fff;
        text-shadow: none;
    }

    header {
        padding: 50px 10px;
        background-color: #f5f5f5;
        text-align: center;
    }

    article {
        zoom: 1;
        max-width: 2000px;
        margin: 0 auto;
        position: relative;
    }

    article:before,
    article:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }

    article:after {
        clear: both;
    }

    article img {
        width: 50%;
        float: right;
        max-width: 1000px;
        min-width: 500px;
        box-shadow: -2px 2px 10px grey;
    }

    article div {
        max-width: 1020px;
        margin: auto;
        padding-left: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }

    article div h1,
    article div p {
        width: 50%;
        padding-right: 50px;
    }

    h1 {
        font-weight: 700;
        line-height: 1.2;
        margin-top: 25px;
    }

    p {
        margin-bottom: 10px;
    }

    p:last-of-type {
        margin-bottom: 0;
    }

    em {
        font-style: italic;
    }

    .projects {
        padding-left: 10px;
        padding-right: 10px;
        margin: 50px auto;
        max-width: 1020px;
    }

    .projects h2 {
        font-weight: 700;
        font-size: 32px;
        line-height: 1.2;
        margin-bottom: 10px;
    }

    .projects article {
        margin-bottom: 20px;
    }

    .projects article:last-of-type {
        margin-bottom: 0;
    }

    .projects.projects--small ul {
        list-style-type: none;
    }

    .projects.projects--small li {
        position: relative;
        padding-left: 15px;
    }

    .projects.projects--small li::before {
        content: '-';
        color: #222;
        position: absolute;
        left: 0;
        top: 0;
    }

    footer {
        background-color: #f5f5f5;
        padding-top: 50px;
        padding-bottom: 50px;
        text-align: center;
    }

    footer ul {
        list-style-type: none;
        max-width: 1020px;
        margin: auto auto 30px;
        padding-left: 10px;
        padding-right: 10px;
        display: table;
    }

    footer ul::after {
        content: '';
        display: table;
        clear: both;
    }

    footer li {
        display: inline-block;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    footer li:last-of-type {
        margin-right: 0;
    }

    footer a {
        font-size: 12px;
        display: block;
    }

    .typo3-community-member {
        max-width: 1020px;
        margin: auto;
        padding-left: 10px;
        padding-right: 10px;
    }

    .typo3-community-member__link {
        max-width: 200px;
        display: block;
        border-bottom: 0;
        display: inline-block;
    }

    .typo3-community-member__link:not(:last-of-type) {
        margin-right: 20px;
    }

    .typo3-community-member__link:hover {
        background-color: transparent;
    }

    .typo3-community-member__image {
        display: block;
        height: 100px;
    }

@media all and (max-width: 870px) {

    article img {
        float: none;
        min-width: auto;
        width: 100%;
        margin-bottom: 50px;
    }

    article div {
        position: relative;
        transform: none;
        width: 100%;
        padding-right: 10px;
        left: 0;
    }

    article div h1,
    article div p {
        width: 100%;
        padding-right: 0;
    }

}
