
    html {
        background-color: #222;
    }

    body {
        font-family: 'PT Serif', serif;
        font-weight: 300;
        color: #fff;
        line-height: 1.7;
        font-size: 16px;
        max-width: 1020px;
        width: 100%;
        margin: 50px auto;
        padding: 10px;
    }

    a {
        color: #ef7d1b;
        text-decoration: none;
        border-bottom: 1px solid #ef7d1b;
    }

    a:hover {
        background-color: #ef7d1b;
        color: #fff;
    }

    ::-moz-selection {
        background: #ef7d1b;
        color: #fff;
        text-shadow: none;
    }

    ::selection {
        background: #ef7d1b;
        color: #fff;
        text-shadow: none;
    }

    header {
        margin-bottom: 50px;
    }

    h1 {
        font-weight: 700;
        font-size: 32px;
        line-height: 1.2;
        margin-bottom: 10px;
    }

    p {
        margin-bottom: 10px;
    }

    p:last-of-type {
        margin-bottom: 0;
    }

    em {
        font-style: italic;
    }

    .projects {
        margin: 50px 0;
    }

    .projects article {
        margin-bottom: 20px;
    }

    .projects article:last-of-type {
        margin-bottom: 0;
    }

    footer ul {
        list-style-type: none;
    }

    footer ul:after {
        content: '';
        display: table;
        clear: both;
    }

    footer li {
        float: left;
        margin-right: 20px;
    }

    footer li:last-of-type {
        margin-right: 0;
    }

    footer a {
        color: transparent;
        font-size: 0;
        line-height: 0;
        display: block;
        border-bottom: none;
    }

    footer a:hover {
        background-color: transparent;
        opacity: 0.7;
    }

    footer a:after {
        content: '';
        display: block;
        background-repeat: no-repeat;
        background-position: 0 0;
        background-color: transparent;
        background-size: 100% auto;
        padding-top: 100%;
        width: 30px;
    }

    footer a[href*="twitter"]:after {
        background-image: url(../images/twitter.svg);
    }

    footer a[href*="instagram"]:after {
        background-image: url(../images/instagram.svg);
    }

    footer a[href*="github"]:after {
        background-image: url(../images/github.svg);
    }

    footer a[href*="dribbble"]:after {
        background-image: url(../images/dribbble.svg);
    }
